<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="WixSample" Manufacturer="TODO Manufacturer" Version="1.0.0.0" UpgradeCode="c30e15e7-edfb-4a0b-b681-b676d34779e0">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="ExampleComponents" />
    </Feature>
  </Package>
</Wix>
